@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #f9f9f9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* Banner */
.banner {
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.banner img {
    width: 100%;
    height: auto;
}

@media (max-width: 732px) {
    .banner img {
        height: 12em;
    }
}

@media (max-width: 500px) {
    .banner img {
        height: 10em;
    }
}

/* Produk / Kategori */
.product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Agar fleksibel jika banyak item */
    gap: 20px;
    padding: 20px 0;
}

.product-pict {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 15px;
    background-color: #7DB6BF;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.product-pict img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-pict h3 {
    margin-bottom: 10px; /* Jarak antara nama produk dan harga */
    font-size: 18px;
    color: #333;
}

.product-pict p {
    margin-bottom: 15px; /* Jarak antara harga dan tombol */
    font-size: 16px;
    color: #4a4a4a;
}

.product-pict:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Tombol Pesan */
.order-button {
    background-color: #4A0072;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-button:hover {
    background-color: #6A0072;
    transform: translateY(-3px);
}
