* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background: linear-gradient(to right, #7DB6BF, #C2D9DD);
}

.logo {
    font-size: 34px;
    font-weight: bold;
    color: blue;
}

.logo span {
    color: black;
}

.search-bar input {
    padding: 10px;
    width: 450px;
    border: none;
    border-radius: 20px;
}
.search-container {
    display: flex;
    align-items: center;
}
.search-bar {
    position: relative;
    flex-grow: 1;
}
.search-button {
    background-color: #7db6bf;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar input {
    padding: 10px 50px 10px 15px; /* Tambah ruang untuk tombol */
}

.header-buttons button {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}

.header-buttons span {
    color: black;
}