/* Footer Styles */
.footer {
    background: linear-gradient(to right, #7DB6BF, #C2D9DD);
    padding: 20px;
    color: #fff;
    text-align: center;
}

.footer-container {
    max-width: 600px;
    margin: 0 auto;
}

.customer-service h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

.customer-service ul {
    list-style: none;
    padding: 0;
}

.customer-service ul li {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.customer-service ul li img {
    height: 20px;
    width: 20px;
}

.customer-service ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.customer-service ul li a:hover {
    color: #fff;
}